{%load static%}
<html>
    <head>
    <title>Django Crud View</title>
    <link rel="stylesheet" href="{% static 'newyear/styles.css' %}">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> {% endcomment %}
    </head>
    <body>
        <h2>Is it New Year?</h2>
        {% if newyear%}
        <h2>Yes</h2>
        {% else %}
        <h2>Not</h2>
        {% endif %}
    </body>
</html>